@using Entidades.AuthModels
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@if (TempData["MensajeError"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensajeError"]
    </div>
}

<form action="@Url.Action("Login", "Auth")" method="post">

    <div class="mb-3 text-start">
        <label class="form-label">Cédula:</label>
        @Html.TextBoxFor(m => m.Cedula, new
        {
            @class = "form-control",
            maxlength = "20",
            placeholder = "Ingrese su cédula",
            pattern = "^[a-zA-Z0-9]{1,20}$",
            required = "required",
            oninvalid = "validarCedula(this)",
            oninput = "this.setCustomValidity('')"
        })
        @Html.ValidationMessageFor(m => m.Cedula, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 text-start">
        <label class="form-label">Contraseña:</label>

        <div class="input-group">
            @Html.PasswordFor(m => m.Password, new
            {
                @class = "form-control",
                placeholder = "Ingrese su contraseña",
                required = "required",
                oninvalid = "this.setCustomValidity('Por favor, ingrese su contraseña')",
                oninput = "this.setCustomValidity('')",
                id = "PasswordLogin"
            })
            <button type="button" class="btn btn-outline-secondary" onclick="togglePass('PasswordLogin', this)">
                <i class="bi bi-eye"></i>
            </button>
        </div>

        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>


    <div class="text-center">
        <a href="/Auth/RecuperarPassword" class="text-decoration-none link">¿Olvidó su Contraseña?</a>
    </div>

    <button type="submit" class="btn-login btn btn-primary w-100 mt-3">Entrar</button>
</form>
