@using Entidades.AuthModels
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form action="@Url.Action("RecuperarPassword", "Auth")" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3 text-start">
        <label class="form-label">Cédula:</label>
        @Html.TextBoxFor(m => m.Cedula, new
        {
            @class = "form-control",
            maxlength = "20",
            placeholder = "Ingrese su cédula",
            pattern = "^[a-zA-Z0-9]{1,20}$",
            required = "required",
            oninvalid = "validarCedula(this)",
            oninput = "this.setCustomValidity('')"
        })
        @Html.ValidationMessageFor(m => m.Cedula, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 text-start">
        <label class="form-label">Correo Electrónico:</label>
        @Html.TextBoxFor(m => m.Correo, new
        {
            @class = "form-control",
            type = "email",
            placeholder = "Ingrese su correo electrónico",
            required = "required",
            oninvalid = "this.setCustomValidity('Por favor, ingrese un correo válido')",
            oninput = "this.setCustomValidity('')"
        })
        @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
    </div>

    <div class="text-center">
        <a href="@Url.Action("Login", "Auth")"
           class="text-decoration-none link">
            Volver al Inicio de Sesión
        </a>
    </div>

    <button type="submit" class="btn-login btn btn-primary w-100 mt-3">
        Recuperar Contraseña
    </button>
</form>

@*********************************** SweetAlert ***************************@
@if (TempData["AlertaSweet"] != null)
{
    <script>
        Swal.fire({
            icon: 'warning',
            title: 'Atención',
            html: '@TempData["AlertaSweet"]',
            confirmButtonText: 'Entendido'
        });
    </script>
}

@if (TempData["Mensaje"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Recuperación Exitosa',
            html: '@TempData["Mensaje"]',
            confirmButtonText: 'Aceptar'
        });
    </script>
}
