@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Evaluación del Desempeño CUC";
}
<script>
    var urlBase = '@Url.Content("~")';
</script>

@{
    var tiposCompetencias = ViewBag.tiposCompetencias as List<Entidades.TiposCompetenciasModel>;
}
<div class="row g-3">
    @*---------------------------Combo Tipo*@
    <div class="col-md-3">
        <h3>Elegir Tipo Competencia:</h3>
        <div class="col-auto">
            <label for="selectTipoCompetencia" class="col-form-label">Elija un Tipo:</label>
        </div>
        <div class="col-auto">
            <select id="selectTipoCompetencia" class="form-select">
                <option selected disabled value="">Elija una opción</option>
                @foreach (var tipoCompetencia in tiposCompetencias)
                {
                    <option value="@tipoCompetencia.IdTipoCompetencia">
                        @tipoCompetencia.IdTipoCompetencia - @tipoCompetencia.Tipo
                    </option>
                }
            </select>
        </div>
    </div>
    @*---------------------------Combo Competencia*@
    <div class="col-md-6">
        <h3>Elegir Competencia:</h3>
        <div class="col-auto">
            <label for="selectCompetencia" class="col-form-label">Elija una Competencia:</label>
        </div>
        <div class="col-auto">
            <!-- Combobox con datos dinámicos para Competencia -->
            <select id="selectCompetencia" class="form-select">
                <option selected disabled value="">Elija una opción</option>
                @foreach (var competencia in Model)
                {
                    <option value="@competencia.IdCompetencia|@competencia.Competencia|@competencia.TipoCompetencia.IdTipoCompetencia"
                            data-tipocompetencia="@competencia.TipoCompetencia.IdTipoCompetencia">
                        @competencia.IdCompetencia - @competencia.Competencia
                    </option>
                }
            </select>
        </div>
    </div>
</div>
<hr />
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr id="competenciaTitleRow">
                <th colspan="3" style="text-align: center; font-weight: bold; background-color: #f8f9fa; ">
                </th>
            </tr>
            <tr id="competenciaDescRow">
                <td colspan="3" style="text-align: center; font-weight:bolder">
                    <!-- El contenido se actualizará dinámicamente -->
                </td>
            </tr>
            <tr id="headerPreview">
                <th>Comportamiento</th>
                <th>Nivel</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody id="previewBody">
            <!-- Contenido dinámico desde el JS -->
        </tbody>
    </table>
</div>

<script src="~/sources/js/vistas/ConsultarComportamientosYNiveles/filtrarPorTipoCompetencia.js"></script>
<script src="~/sources/js/vistas/ConsultarComportamientosYNiveles/ListarComportamientosYDescripcionesNegocios_JS.js"></script>
